:root {
    --app-bg-default: #ffffff;
    --app-bg-primary: #f9f9fb;
    --app-bg-modal: #6b6b6b;
    --app-border-default: #666666;
    --app-border-primary: #d1d5db;
    --app-border-light: rgba(88, 88, 88, 0.2);
    --app-text-default: #000000;
    --app-text-primary: #969494;
    --app-text-secondary: #5f5f5f;
    --app-color-danger: #ed0e0e;
    --app-color-danger-light: #f75959;
    --app-primary: #a33e8c;
    --app-primary-light: #ba49a1;
    --app-color-close-icon: #414040;
    --app-color-underline: #e6e4e4;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: inherit;
    text-decoration: inherit;
    font-family: "Inter", sans-serif;
}

html, body {
    overflow-x: hidden;
}